__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

.DS_Store

logs/
results/
outputs/
samples/
pca_vis/
features/
pretrained_models/
*.ckpt
*.pt
*.pth
*.npz
